pkgbase = libg15
	pkgdesc = Provides low-level access to the Logitech G15 and G11 keyboards and Z10 speakers
	pkgver = 1.2.8
	pkgrel = 1
	url = http://www.g15tools.com/
	arch = x86_64
	license = GPL
	depends = libusb-compat
	source = https://gitlab.com/menelkir/libg15/-/archive/v1.2.8/libg15-1.2.8.tar.bz2
	sha512sums = 7f166eb3bc8f581c3ab44fcdfb036a83b22977e75941faabc5643b83ad84b91ef1f9030ec75d8484c6de1700356b212773fbdd8b8438b5d680737572bc7cb44b

pkgname = libg15
